.body
  .body__group
    .body__group__tag 野菜
    .body__group__tag 肉類
  .body__list
    .body__list__box
      .body__list__box__name 白菜
      .body__list__box__num 5玉
      .body__list__box__date 仕入れ日：2020/3/29
      = link_to '削除', "#", class:"body__list__box__destroy btn"